@model IEnumerable<ZenithDataLib.Models.Event>
@{
    ViewBag.Title = "index";
    var tempdate = "";
}

<div style="background:transparent !important; margin-bottom:0; padding-bottom: 15px;" class="jumbotron">
    <h1 class="text-center">The Zenith Society</h1>
    <p class="text-center">This week's events:</p>
</div>
<div class="container">
    <table class="table table-bordered">
        @foreach (var details in Model)
        {
            if (tempdate != details.EventFrom.ToLongDateString())
            {
                
            <tr>
                @{tempdate = details.EventFrom.ToLongDateString();
                }
                <th colspan="2" class="alert-success text-center">
                    @details.EventFrom.Date.ToLongDateString()
                    </th>
            </tr> }
           
                if (HttpContext.Current.User.IsInRole("Admin") || HttpContext.Current.User.IsInRole("Member"))
                {
                    <tr>
                        <td >
                            @details.EventFrom.ToShortTimeString() - @details.EventTo.ToShortTimeString()
                        </td>
                        <td>
                            @details.ActivityType.ActivityDescription
                        </td>
                    </tr>
                }
                else
                {
                    if (details.isActive)
                    {
                        <tr>
                            <td>
                                @details.EventFrom.ToShortTimeString() - @details.EventTo.ToShortTimeString()
                            </td>
                            <td>
                                @details.ActivityType.ActivityDescription
                            </td>
                        </tr>
                    }
                }
            }
        
    </table>
</div>