@model IEnumerable<ZenithDataLib.Models.Event>

@{
    ViewBag.Title = "Zenith Society: Full Event List";
}

<h2 class="text-info text-center" style= "margin-bottom: 25px;">@ViewBag.Title</h2>
@if (User.IsInRole("Admin"))
{
<h4 class="text-center" style= "margin-bottom: 25px;">
    @Html.ActionLink("Create New", "Create")
</h4> }
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ActivityType.ActivityDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventFrom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventTo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnteredBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isActive)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ActivityType.ActivityDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventFrom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventTo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnteredBy.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isActive)
        </td>
        <td>
        @if (User.IsInRole("Admin")) {
            @Html.ActionLink("Edit", "Edit", new { id = item.EventId }); <span> | </span>
            @Html.ActionLink("Delete", "Delete", new { id = item.EventId });  <span> | </span> }
            @Html.ActionLink("Details", "Details", new { id=item.EventId })
        </td>
    </tr>
}

</table>
