@model ZenithDataLib.Models.ActivityType

@{
    ViewBag.Title = "Activity Details";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>@Html.DisplayFor(model => model.ActivityDescription)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ActivityDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivityDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

    </dl>
</div>
<p style="margin-left: 100px">
    @Html.ActionLink("Edit", "Edit", new { id = Model.ActivityTypeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
